aiofiles
fastapi
imbalanced-learn
imblearn
Jinja2
joblib
matplotlib
matplotlib-inline
numpy
pandas
scikit-learn
scikit-plot
scipy
seaborn
starlette
uvicorn
validators
watchdog
watchgod
yellowbrick
python-multipart
